body{
    background-color: black;
    font-size: 1.25em;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgba(219, 216, 217, 0.5);
    padding: 15px;

}

.navbar > a:visited, a:link{
    padding-top: -5px;
    padding: 15px ;
    text-decoration: none;
    color: #ffffff;
}

.navbar > a:hover{
    background-color: #c6cdc8;
    color: black;
    font-size: 1.15em;

}

.homeBtn{
    position: relative;
    display: inline-block;
}

#logoHidden{
    display: none;
    position: absolute;
    background-color: #a3a3a3;
    box-shadow: #ffffff;
    z-index: 1;
}

.homeBtn:hover #logoHidden{
    display: block;
}

#description{
    padding: 15px;
    border: 1px solid white;
    background-color: black;
    color: white;
}


.showCase a {
    text-decoration: none;
    color: white;
}

.showCase a:hover {
    text-decoration: underline;
}

.showCase2{
    background-color: white;
    color: black;
}

.showCase2 a {
    text-decoration: none;
    color: black;
}

.showCase2 a:hover {
    text-decoration: underline;
}

.lmLinks a{
    color: #258eff;
}

.showCase3{
    background-color: white;
    color: black;
    /*position: relative;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minimax(30vw, 160px);
    grid-gap: 50px;
    font-size: 0.7em;
    width: 100%;
}1